<div class="baixo"> 
<div class="line"></div>

<nav class="banner-bottom">

  <div class="img"><img id="logo" src="./assets/Logo/logo.svg" alt=""></div>
    <p id="title">LOTUS</p>
    <p id="subtitle">fashion clothes</p>
  
  <div class="divisoria"></div>

  <div><img src="./assets/FooterIcons/Redes Sociais.svg" alt=""></div>

  <div class="text"><span>Copyright 2021. Lotus LTDA. - CNPJ 31.523.253/0001-20 - Endereço: Av. Paulista, 945, Bela Vista, São Paulo-SP, CEP 01310-940, Brasil.
          <br> Atendimento: contato@lotus.com.br</span></div>
</nav>
</div>
