<div class="alinhar">
    
<h1>Relatório de vendas - 02/12/2021</h1>

<table class="tabela1">
    <tr>
        <th><u> ID da Compra </u></th>
        <th><u> Produto </u></th>
    </tr>
    <tr>
        <td>00001</td>
        <td>Camisa 01</td>
    </tr>
    <tr>
        <td>00002</td>
        <td>Calça 2</td>
    </tr>
    <tr>
        <td>00003</td>
        <td>Calça 5</td>
    </tr>
    <tr>
        <td>00004</td>
        <td>Casaco 2</td>
    </tr>
    <tr>
        <td>00005</td>
        <td>Cueca 4</td>
    </tr>
    <tr>
        <td>00006</td>
        <td>Tênis 3</td>
    </tr>
    <tr>
        <td>00007</td>
        <td>Camisa 5</td>
    </tr>
    <tr>
        <td>00008</td>
        <td>Tênis 5</td>
    </tr>
    <tr>
        <td>00009</td>
        <td>Tênis 1</td>
    </tr>
</table>

<table class="tabela2">
    <tr>
        <th><u>Quantidade</u></th>
        <th><u>Preço</u></th>
    </tr>
    <tr>
        <td>2</td>
        <td>R$98,00</td>
    </tr>
    <tr>
        <td>1</td>
        <td>R$49,00</td>
    </tr>
    <tr>
        <td>3</td>
        <td>R$147,00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>R$98,00</td>
    </tr>
    <tr>
        <td>4</td>
        <td>R$196,00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>R$98,00</td>
    </tr>
    <tr>
        <td>1</td>
        <td>R$49,00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>R$98,00</td>
    </tr>
    <tr>
        <td>3</td>
        <td>R$147,00</td>
    </tr>
</table>
</div>

<div class="espaco"></div>